@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import './libs/normalize';

:root {
    /* color */
    --blue: #00E9DE;
    --green: #9DF3AC;
    --rose: #FD82C1;
    --blue_dark: #1F294A;
    --gray_dark: #A6A6A6;
    --bg_btn_facebook: #044487;
    --bg_btn_ok: #F29000;
    --bg_btn_vk: #4B6D9A;

}

body {
    background-color: var(--blue_dark);
    width: 100wh;

}

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ul, li {
    padding: 0;
    margin: 0;
  }

button {
    cursor: pointer;
    border: none;
}

.container {
    position: relative;
    padding-top: 76px;
    padding-left: 112px;
    padding-right: 26px;
    padding-bottom: 58px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1440px;
    height: fit-content;
    background: url('./assets/images/109_1.webp') center / contain;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    
    &__gradient {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.17) 0%, rgba(255, 255, 255, 0.76) 32.92%, rgba(255, 255, 255, 0.9) 59.51%, rgba(255, 255, 255, 0.87) 103.7%);
        backdrop-filter: blur(29px);
    }
}

.logo {
    position: relative;
    width: 69px;
    height: 65.13px;

    &__image {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.content {
    display: grid;
    grid-template-areas: 
            "content_title main_image"
            "content_left main_image";
    align-content: start;
    height: 750px;

    &__title {
        position: relative;
        grid-area: content_title;
        max-width: 559px;
        max-height: 200px;
        font-size: 48px;
        font-weight: 700;
        line-height: 45px;
        letter-spacing: -0.41px;
        color: var(--blue_dark);
        margin-top: 73px;
        margin-bottom: 52px;
      }

    &__left {
        position: relative;
        grid-area: content_left;

        &__description {
            list-style-position: inside;
            list-style-type: none;
            font-weight: 500;
            font-size: 24px;
            line-height: 31px;
            letter-spacing: -0.41px;
            color: var(--blue_dark);
            margin-bottom: 41px;
        }

        &__slogan {
            font-weight: 600;
            font-size: 24px;
            line-height: 31px;
            letter-spacing: -0.41px;
            color: var(--blue_dark);
            opacity: 0.5;
        }
    }

    &__main-image{
        position: relative;
        width: 100%;
        height: 750px;
        grid-area: main_image;

        &__phone {
            position: absolute;
            top: 20px;
            right: 0px; 
        }
    }
}

.footer {
    position: relative;
    padding-top: 20px;
    padding-right: 89px;
    display: flex;
    justify-content: space-between;

    &__message {
        color: var(--blue_dark);
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        letter-spacing: -0.41px;
    }

    &__social-media {
        display: flex;
        gap: 16px;
        padding-top: 7px;
    }
}


/* Elements */ 

.round {
    position: absolute;
    --size-ellipse: 41.27px;
    width: var(--size-ellipse);
    height: var(--size-ellipse);
    border-radius: 50%;
    
    &_logo-blue {
        left: 0;
        top: 13px;
        background-color: var(--blue);
    }
    
    &_logo-green {
        bottom: 0;
        right: 6px;
        background-color: var(--green);
    }
    
    &_logo-rose {
        --size-ellipse: 48.36px;
        top: 0;
        right: 0;
        background-color: var(--rose);
    }

    &_big-rose {
        --size-ellipse: 311.92px;
        top: 88px;
        right: 166px;
        background-color: var(--rose);
    }

    &_big-green {
        --size-ellipse: 393.5px;
        top: 176px;
        right: 126px;
        background-color: var(--green);
    }

    &_big-blue {
        --size-ellipse: 266.17px;
        top: 170px;
        right: 344px;
        background-color: var(--blue);
    }

    &_little-rose {
        --size-ellipse: 48.36px;
        top: 658px;
        right: 100px;
        background-color: var(--rose);
    }

    &_little-green {
        top: 380px;
        right: 640px;
        background-color: var(--green);
    }

    &_little-blue {
        top: 20px;
        right: 160px;
        background-color: var(--blue);
    }
}

.app-store-btn {
    padding-bottom: 0px;
    padding-top: 7px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: var(--blue_dark);
    border-radius: 8px;
    opacity: 0.59;
    border: 1.5px solid var(--gray_dark);

    &:hover, &:focus {
        transform: scale(1.1);
    }

    &:active {
        transform: scale(1);
    }


    &_content-left {
        margin-bottom: 16px;
    }

}

.social-btn {
    --size-ellipse: 48px;
    width: var(--size-ellipse);
    height: var(--size-ellipse);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;


    &:hover, &:focus {
        transform: scale(1.1);
    }

    &:active {
        transform: scale(1);
    }

    &_instagram {
        background: url('./assets/images/bg_btn_instagram.png');
    }

    &_vk {
        background-color: var(--bg_btn_vk);
    }

    &_ok {
        background-color: var(--bg_btn_ok);
    }

    &_facebook {
        background-color: var(--bg_btn_facebook);
    }
}

@media screen and (max-width: 1360px) {
    .container {
        padding-left: 32px;
        padding-right: 0;
    }
}

@media screen and (max-width: 1200px) {
    .content {
        display: grid;
        grid-template-areas: 
                "content_title main_image"
                "content_left main_image";
        align-content: start;
        min-height: 700px;
    
        &__title {
            max-width: 559px;
            max-height: 200px;
            font-size: 32px;
            line-height: 40px;
          }
    
        &__left {
   
            &__description {
                font-size: 20px;
                line-height: 24px;
            }
    
            &__slogan {
                font-size: 20px;
                line-height: 24px;
            }
        }
    
        &__main-image{
            width: 500px;
            height: 500px;
            margin-left: auto;
            margin-right: auto;
   
            &__phone {
                width: 500px;
                height: 446px;
            }
        }
    }

    .footer {
        &__message {
            font-size: 20px;
            line-height: 24px;
        }
    }

    .round {
   
        &_big-rose {
            --size-ellipse: 214px;
            top: 58px;
            right: 124px;
        }
    
        &_big-green {
            --size-ellipse: 270px;
            top: 118px;
            right: 88px;
        }
    
        &_big-blue {
            --size-ellipse: 182px;
            top: 126px;
            right: 244px;
        }
    
        &_little-rose {
            --size-ellipse: 40px;
            top: 480px;
            right: 70px;
        }
    
        &_little-green {
            --size-ellipse: 32px;
            top: 300px;
            right: 460px;
        }
    
        &_little-blue {
            --size-ellipse: 32px;
            top: 0px;
            right: 100px;
        }
    }
}

@media screen and (max-width: 992px) {
    .container {
        padding-top: 32px;
        padding-bottom: 32px;
        height: 1220px;
    }

    .content {
        height: 980px;
        grid-template-areas: 
                "content_title"
                "main_image"
                "content_left";

        &__title {
            position: relative;
            max-width: 80%;
            margin-top: 24px;
            margin-bottom: 16px;
        }
    }

    .footer {
        padding-top: 0;
        padding-right: 0;
        display: flex;
        row-gap: 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }


}

@media screen and (max-width: 576px) {
    .container {
        height: 1100px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .content {
        height: 850px;
        justify-items: center;
       
        &__main-image{
            width: 350px;
            height: 350px;
            margin-left: auto;
            margin-right: auto;
       
            &__phone {
                width: 350px;
                height: 312px;
            }
        }
        
        &__left {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .round {
   
        &_big-rose {
            --size-ellipse: 150px;
            top: 50px;
            right: 82px;
        }
    
        &_big-green {
            --size-ellipse: 190px;
            top: 80px;
            right: 70px;
        }
    
        &_big-blue {
            --size-ellipse: 128px;
            top: 92px;
            right: 165px;
        }
    
        &_little-rose {
            --size-ellipse: 32px;
            top: 302px;
            right: 40px;
        }
    
        &_little-green {
            --size-ellipse: 24px;
            top: 200px;
            right: 320px;
        }
    
        &_little-blue {
            --size-ellipse: 24px;
            top: 0px;
            right: 50px;
        }
    }
}

@media screen and (max-width: 480px) {
    .container {
        height: 1000px;
    }

    .logo {
        margin-left: auto;
        margin-right: 0;
        width: 49px;
        height: 45px;
    
        &__image {
            width: 42px;
            height: 40px;
        }
    }

    .content {
        height: 750px;
        &__title {
            margin-top: 0;
            font-size: 24px;
            line-height: 30px;
          }
    
        &__left {
   
            &__description {
                font-size: 16px;
                line-height: 20px;
            }
    
            &__slogan {
                font-size: 16px;
                line-height: 20px;
            }
        }

        &__main-image{
            width: 320px;
            height: 320px;
            margin-left: auto;
            margin-right: auto;
       
            &__phone {
                width: 320px;
                height: 300px;
            }
        }
    }

    .round {

        &_logo-blue {
            --size-ellipse: 30px;
            left: 0;
            top: 10px;
        }
        
        &_logo-green {
            --size-ellipse: 30px;
            bottom: 0;
            right: 2px;
        }
        
        &_logo-rose {
            --size-ellipse: 36px;
            top: 0;
            right: 0;
        }
   
        &_big-rose {
            --size-ellipse: 135px;
            top: 50px;
            right: 82px;
        }
    
        &_big-green {
            --size-ellipse: 175px;
            top: 80px;
            right: 70px;
        }
    
        &_big-blue {
            --size-ellipse: 118px;
            top: 92px;
            right: 158px;
        }
    
        &_little-rose {
            --size-ellipse: 24px;
            top: 290px;
            right: 30px;
        }
    
        &_little-green {
            --size-ellipse: 20px;
            top: 200px;
            right: 290px;
        }
    
        &_little-blue {
            --size-ellipse: 20px;
            top: 0px;
            right: 20px;
        }
    }

    .footer {
        &__message {
            font-size: 16px;
            line-height: 20px;
        }
    }

   

}
